// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);


@import "bootstrapComponents";

// 5. Du kan lave styling her...

/* fonts */

@font-face {
	font-family: 'UniversalSans';
	src: url('../Fonts/Universal-Sans-Display-562-Trial.ttf') format('truetype');
}

.Overskrift {
	font-family: 'UniversalSans';
}

.Brødtekst {
	font-family: 'Merriweather';
}

/* padding */

.padding4 {
	padding-left: 25rem;
	padding-right: 28rem;
}


.padding6 {
	padding-left: 4rem;
}


/* Darkmode farver */

/* Dark mode - body starter sort */

/* Dark mode baggrund */



.line {
	all: unset;                /* vigtige linje! Fjerner ALT browser styling */
	display: block;
	width: 100%;
	border-top: 4px solid #83b741;
	margin: 10px 0;
}


.image-wrapper {
	position: relative;
	width: 150px;        /* vigtigt: GIVER BREDDEN */
	height: 80px;        /* vigtigt: GIVER HØJDEN */
}

.img-toggle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
	transition: opacity 0.3s ease;
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

.image-wrapper::before {
	content: "";
	display: block;
}


